---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
const pageTitle = "Latest Posts";

const allPosts = await Astro.glob('./posts/*.md');
const orderedPosts = allPosts.sort((postA, postB) => {
	return new Date(postB.frontmatter.pubDate) - new Date(postA.frontmatter.pubDate);
});

const posts = orderedPosts.slice(0, 10);

const techBook = {
	url: "https://www.amazon.com/Modern-Concurrency-Swift-Second-Introducing/dp/1950325814",
	title: "Modern Concurrency in Swift"
}

const personalBook = {
	url: "https://www.amazon.com/Leviathan-Wakes-10th-Anniversary-Expanse/dp/0316333425",
	title: "Leviathan Wakes"
}
---
<BaseLayout pageTitle={pageTitle}>
	<main>
		<section class="latest-posts">
			{posts.map(post =>
				<PostCard
					title={post.frontmatter.title}
					pubDate={new Date(post.frontmatter.pubDate).toLocaleDateString(
						'en-us',
						{
							year: 'numeric',
							month: 'short',
							day: 'numeric'
						}
					)}
					description={post.frontmatter.description}
					url={post.url}
				/>)}
		</section>
		<section class="additional-links">
			<h2>Additional Links</h2>
			<p>See where my focus is <a href="/now">now</a>.</p>
			<p>Check out what I <a href="/use">use</a>.</p>
			<p>Current tech read: <a href={techBook.url}>{techBook.title}</a></p>
			<p>Current personal read: <a href={personalBook.url}>{personalBook.title}</a></p>
		</section>
		<section class="tags">
			<h2>Tags</h2>
			<p>some tags will go here</p>
		</section>
		<section class="popular">
			<h2>Popular</h2>
			<p>some articles will go here</p>
		</section>
	</main>
</BaseLayout>
<style>
	main {
		display: grid;
		align-items: start;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"latest moreLinks"
			"latest tags"
			"latest popular";
		gap: 64px 96px;
	}

	.latest-posts {
		grid-area: latest;
	}

	.additional-links {
		grid-area: moreLinks;
	}

	.tags {
		grid-area: tags;
	}

	.popular {
		display: none;
		grid-area: popular;
	}
</style>
